body {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.bg-img {
    position: fixed;
    top: 0;
    left: 0;

    min-width: 2144px;
    width: 100%;

    min-height: 100%;
    height: auto;

    z-index: -1;
}

a {
    text-decoration: none;
    color: black;
}
