.link {
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    align-items: center;

    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    margin: 6px;
}

.link-resume-social {
    width: 110px;
    margin-left: 15px;
}

.link-resume-pdf {
    width: 145px;
}

.link-linkedin > img {
    height: 20px;
    width: 20px;
    margin-left: 1px;
    margin-bottom: 2px;
}

.link-linkedin-social {
    margin-left: -2px;
}

.link-github {
    border: none;
}

.link-github > img {
    height: 37px;
    width: 37px;
}

.link-github-social {
    margin-left: -27px;
}

.link-project {
    width: 150px;
    border: 2px solid gray;
}

.link-artradr > img {
    margin-left: 6px;
}
