.page-container {
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    justify-content: center;

    min-width: 1175px;
}


.sidebar {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-align-items: center;
    align-items: center;

    min-width: 300px;
}

.avatar-sm-container {
    margin-top: 100px;
    margin-bottom: 15px;
}

.avatar-sm-container > img {
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 50%;
}

.resume {
    width: 800px;
    height: 1150px;
    background: white;

    margin-top: 50px;
    margin-bottom: 50px;
}

.flexbox-spacer {
    width: 300px;
}
