body {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    background-color: #f1e9d2;
    text-align: center;
}

.name-container {
    font-size: 400%;
    padding-top: 100px;
}

.link-container {
    padding-top: 10px;
}

a {
    text-decoration: none;
}

.external-link {
    height: 50px;
}
