body {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    min-width: 900px;
}

a {
    font-weight: 600;
    color: darkgreen;
    text-decoration: none;
}

.bg-img {
    position: fixed;
    top: 0;
    left: 0;

    min-width: 1286px;
    width: 100%;

    min-height: 100%;
    height: auto;

    z-index: -1;
}

.avatar-container {
    position: absolute;
    top: 190px;
    left: 450px;
    margin-left: -396px;
}

@media (min-width: 900px) {
    .avatar-container {
        left: 50%;
        margin-left: -404px;
    }
}

.avatar-container > img {
    width: 200px;
    height: 200px;
    border: 3px solid #f1f1f1;
    border-radius: 50%;
}

.about {
    width: 500px;
    margin: 300px auto 0 auto;
    padding: 40px 50px 20px 50px;

    border-radius: 15px;
    background-color: #f1f1f1;

    text-align: center;
}

.about-section {
    width: 400px;
    margin: 0 auto 25px auto;
}

.about-divider {
    margin-left: -50px;
    margin-right: -50px;
    color: gray;
}

.about-footer {
    margin: 20px auto 0 auto;
    padding-left: 10px;
    font-size: 0.8em;
}
